@import './css/fonts.css';

* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	list-style: decimal;
}
ul {
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

/* START */

body{
    font-family: 'Roboto', sans-serif;
    color: #1E0E00;
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
}

/* HAT */

.hats{
    background: #FFFBD9;
}
.hat{
    padding: 34px 20px 34px;
    max-width: 1134px;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #FFFBD9;
}
.hamburger{
    display: none;
}
.menu{
    display: flex;
    flex-flow: nowrap;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.menu__block{
    display: flex;
    list-style-type: none;
    
}
.menu__block li{
    padding: 0 20px;
}
.menu a{
    text-decoration: none;
    color: #1E0E00;
}
.menu__button{
    position: relative;
}
.menu__button:hover{
    border-bottom: none; 
    border: 1px solid #D6D6D6;
}
.menu__btn{ 
    padding: 12px 20px;
    outline: none;
    border: none;
    background: inherit;

    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E0E00;
}
.menu__btn::after{
    content: url(./imgs/стрелка.png);
    padding-left: 9px;
}
.menu__content{
    display: none;
    position: absolute;
    padding-top: 20px;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    width: calc(100% + 2px);
    margin-left: -1px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.menu__content a{
    padding: 6px 10px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.menu__content a:hover{
    background: #F3F3F3; 
    border-radius: 4px; 
}
.menu__button:hover .menu__content{
    display: block;
    border-top: none;
    border: 1px solid #D6D6D6;
}
.menu__button:hover .menu__btn::after{
    content: url(./imgs/стрелка2.png);
}
.menu__button:hover{
    border-radius: 4px 4px 0 0;
}
.btns a{
    margin: 0 20px;
}
.btns a.btn_affect{
    margin-right: 0;
}
.search-block{
    display: flex;
    align-items: center;
}
.search button{
    padding: 0 20px;
}
.btn{
   color: #3A3A3A;
   text-align: left;
   background: transparent;
   outline: none;
   border: none;
   cursor: pointer;

   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 19px;
   letter-spacing: 0em;
}
.btn_affect{
    padding: 11px 16.5px;
    text-align: center;
    color: #FFFFFF;
    background: #3E8E31;
    outline: none;
    border: #3E8E31;
    border-radius: 8px;
    cursor: pointer;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}

/* FON */

.fon{
    background-image: url(./imgs/Фон.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 245.76px 0 84px 0;
}
.fon__block{
    margin-left: 20.46%; 
}
.fon__head{
    max-width: 551px;
    margin-bottom: 30px;
    font-family: "a_AssuanNr";
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 128.3%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}
.fon__text{
    max-width: 440px;
    margin-bottom: 43px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF; 
}
.fon button{
    height: 48px;
    width: 222px;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin-bottom: 149px;
}
.scroll{
    margin: 0 auto;
    width: 164px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.scroll > div{
    width: 46px;
    height: 4px;
    
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}
.scroll  div:first-child{
    background: #FFFFFF;
}

/* CATEGORIES */

.categories{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 100px 0 100px 0;
}
.categories__elem{
    text-align: center;
    padding: 0;
    padding-bottom: 28px;
}
.categories__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #1E0E00;
}
.elem2{
    margin-left: 72px;
}
.elem3{
    margin-left: 66px;
}
.elem4{
    margin: 0 69px;
}
.elem5{
    margin-right: 73px;
}
.elem6{
    margin-right: 65px;
}

/* COMPAIGNS */

.campaigns{
    margin-bottom: 100px;
    padding: 0 15px;
}
.campaigns__hat{
    margin: 0 auto;
    text-align: center;
}
.head-bus{
    text-align: center;
    font-family: "a_AssuanNr";
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 128.3%;    
    letter-spacing: 0.015em;
    color: #F5B537;
}
.campaigns__text{
    margin: 0 auto;
    padding: 37px 0 18px 0;
    max-width: 495px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;  
}
.cards{
    max-width: 1095px;
    margin: 0 auto;
}
.card {
    margin: 5px;
}
.cards-all{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.cards__top{
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1E0E00;
}
.cards__botton{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #3E8E31;
}
.cards__botton::after{
    content: "\003E";
    color: #3E8E31;
    margin-left: 19px;
    width: 6px;
    height: 10px;
}
.card{
    width: 261px;
    padding-bottom: 9px;
    color: #1E0E00;
    background: #FFFDED;
    box-shadow: 0px 1px 7px rgba(152, 152, 152, 0.35);
    cursor: pointer;
    transition: all .3s;
}
.card:hover{
    transform: scale(1.05);
}
.photo{
    width: 100%;
}
.efect{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px; 
}
.card_top{
    padding: 8px 0 8px 9px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.card_top p{
    padding-left: 8px;
}
.card__block{
    padding-top: 7px;
    padding-left: 9px;
}
.card_botton{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.card_botton p{
    padding-left: 8px;
}
.card_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 0 14px;
}
.card_price{
    display: flex;
    justify-content: space-between;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.card_price p:last-child{
    padding-right: 8px;
    color: #8374B5;
}
.card__scale{
    width: 243px;
    height: 4px;
    background: #B7BAB7;
    border-radius: 2px;
    margin: 5px 0;
}
.card__scale_color{
    width: 121px;
    height: 4px;
    background: #71A270;
    border-radius: 2px;
}
.card__itog{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}
.card__itog span{
    font-weight: 500;
    padding: 0 9px 0 5px;
}
.scale2{
    width: 48.72px;
}

/* EVRYTHING */

.everything{
    max-width: 1174px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 86px;
}
.everything__all{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.everything__block{
    width: 336px;
    height: 152px;
    margin: 54px 0 50px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #1E0E00;
    text-align: left;
    cursor: pointer;
}
.everything__block:hover{
    background: linear-gradient(180deg, #FFEBB9 29.28%, rgba(255, 235, 185, 0.05) 83.06%);
    border-radius: 4px 4px 0px 0px;
}
.everything__head{
    background: #FFEBB9;
    border-radius: 4px;
    padding: 9px 0 10px 39px;

    font-size: 20px;
    line-height: 23px;
}
.everything__text{
    font-size: 16px;
    line-height: 19px;
    padding: 0 36px 0px 39px;
}

/* US */

.us{
    max-width: 1174px;
    padding: 0 20px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.us__blog{
    margin-top: 54px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
img.us-me{
    width: 50%;
    flex: 1 0 260px;
}
.us__text{
    width: 50%;
    flex: 1 0 260px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #1E0E00;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(151, 151, 151, 0.25);
}
.us__text p{
    padding: 67px 59px;
}
.us__ball1{
    position: absolute;
    top: 7px;
    left: 22px;
}
.us__ball2{
    position: absolute;
    bottom: 74px;
    right: 8px;
}
.us__ball3{
    position: absolute;
    bottom: 9px;
    right: 20px;
}
.us__halps{
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.ua__element{
    width: 328px;
}
.ua__element:last-child{
    width: 349px;
}
.ua__element{
    padding: 20px;
}
.ua__element p{
    padding-bottom: 46.84px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1E0E00;
}
.us__halps .ua__element:last-child p{
    padding-bottom: 79.7px;
}
.us__element_block{
    display: flex;
    align-items: center;
}
.us__element_all{
    position: relative;
    margin-right: 8px;
}
.us__element_num{
    position: absolute;
    top: 9px;
    right: 9px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1E0E00;
}
.us__element_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1E0E00;
}
.us__element_block + .us__element_block{
    margin-top: 14px;
}

/* CONTACT */

.contact{
    padding-bottom: 99px;
}
.contact__head{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #1E0E00;
    padding-top: 41px;
    padding-bottom: 35px;  
}
.contact__block{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.contact__info{
    position: relative;
    z-index: 4;
    width: 50%;
    min-width: 520px;
    background: #FEEBB9;
    border-radius: 8px 0px 0px 8px;
    padding: 2.56rem 0 2.375rem;
}
.contact__ellipst1{
    position: absolute;
    top: 34px;
    right: 10.2%;
}
.contact__ellipst2{
    z-index: 2;
    position: absolute;
    right: 3.12vw;
    bottom: 14.168vh;
    right: 4.2%;
    bottom: 92px;
}
.contact__ellipst3{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
}
.contact__all{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 382px;
    margin-left: 41%;
}
.contact__all_head{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #3E8E31;
}
.contact__all_text{
    max-width: 319px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #1E0E00;
    margin-top: 15px;
    margin-bottom: 39px;
}
.contact__all_elem{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 33px;
}
.contact__all_elem p{
    padding-left: 39px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1E0E00;
}
.contact__web{
    margin-top: 106px;
}
.contact__web a + a{
    margin-left: 2.184vw;
}
.contact__web a:first-child{
    margin-left: 5.772vw;
}
.contact__form{
    position: relative;
    width: 50%;
    min-width: 520px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(180, 177, 170, 0.25);
    border-radius: 8px 0px 0px 8px;
    padding-bottom: 41px;
}
.forms__blocks{
    padding: 41px 0 0 7.566vw;
}
.form-name{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #3E8E31;
}
.contact__block input{
    margin: 6px 0 15px;
    max-width: 400px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 4px;

    padding: 7px 0 7px 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;    
    color: #373737;
}
.form-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #1E0E00;
}
.contact__block textarea{
    max-width: 400px;
    height: 98px;
    margin-top: 6px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #6F6F6F;
    padding: 7px 0 0 15px;  
}
.contact__block button{
    display: block;
    width: 222px;
    margin-top: 26px;
    margin-left: 13.884vw;
}
.form-ellipse1{
    position: absolute;
    left: 5.8%;
    bottom: 60px;
}
.form-ellipse2{
    position: absolute;
    left: 64%;
    top: 47px;
}.form-ellipse3{
    position: absolute;
    left: 69%;
    top: 22px;
}

/* FOOTER */

.ftr{
    background: #FFFDED;
    box-shadow: 0px 0px 4px rgba(205, 205, 205, 0.25);    
    padding: 58px 0 27px;
}
.ftr__block img{
    padding-left: 20.47%;
    padding-right: 5.5%;
}
.ftr__block{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.ftr__rup a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1E0E00;
    text-decoration: none;
}
.ftr__rup li{
    list-style-type: none;
}
.ftr__rup{
    width: 680px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.ftr__rup ul{
    padding: 5px 15px;
}
hr{
    max-width: 1142px;
    margin-top: 50px;
    border: 0.7px solid #3E8E31
}
.frh__itog{
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;      
    color: #1E0E00;
    margin-top: 16px;
    margin-left: 20.47%; 
}

@media only screen and (min-width: 551px) and (max-width:885px){
    .hamburger{
        display: block;
    }
    .menu, .search-block{
        display: none;
    } 
    .hamburger.active +  .menu{
        display: block;
        position: fixed;
        background-color: #373737;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        padding-top: 170px;
    }
    .menu__block a{
        color: #FFFFFF;
    }
    .menu__block li{
        padding: 5px 0;
    }
    .menu__button button{
        color: #ffffff;
    }
    .hamburger.active ~  .search-block{
        display: block;
        position: fixed;
        top: 0px;
        left: 45%;
    }
     .hat > .hamburger.active{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
    .search-block{
        padding: 20px 0;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .btns a{
        margin: 5px 0px;
    }    
    .btn{
       color: #FFFFFF;
    }
    .menu__block{
        flex-direction: column;
    }
    .contact__all{
        margin: 0 auto;
    }
    .contact__info{
        min-width: 250px;
        width: 100%;
    }
    .contact__form{
        min-width: 250px;
        width: 100%;
    }

}

@media only screen and (max-width: 550px){
    .hamburger{
        display: block;
    }
    .menu, .search-block{
        display: none;
    } 
    .hamburger.active +  .menu{
        display: block;
        position: fixed;
        background-color: #373737;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        padding-top: 170px;
    }
    .menu__block a{
        color: #FFFFFF;
    }
    .menu__block li{
        padding: 5px 0;
    }
    .menu__button button{
        color: #ffffff;
    }
    .hamburger.active ~  .search-block{
        display: block;
        position: fixed;
        top: 0px;
        left: 45%;
    }
     .hat > .hamburger.active{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
    .search-block{
        padding: 20px 0;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .btns a{
        margin: 5px 0px;
    }    
    .btn{
       color: #FFFFFF;
    }
    .menu__block{
        flex-direction: column;
    }
    .fon{
        background-position: 90% 100%;
    } 
    .fon__block{
        margin: 10px;
        text-align: center;
    }
    .fon__head{
        font-size: 36px;
    }
    .fon__text{
        font-size: 18px;
    }
    
    .contact__all{
        margin-left: 20px;  
    }
    .contact__info{
        min-width: 250px;
        width: 100%;
    }
    .contact__form{
        min-width: 250px;
        width: 100%;
    }
    .contact__all_elem p{
        padding-left: 0;
    }
    .contact__all_elem{
        flex-direction: column;
        justify-content: center;
    }
    .contact__block button{
        margin: 0 auto;
        margin-top: 26px;
    } 
}
