@import url(./css/fonts.css);

* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.2;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol { 
	list-style: decimal;
}

ul {
	list-style: square;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

/* START */

body {
    color: #1E0E00;
    font: normal 500 18px/21px 'Roboto', sans-serif;
    word-wrap: break-word;
    /* word-break: break-all; */
}

a {
    color: inherit;
    text-decoration: none;
}

.contaner {
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}

/* HAT */

.hats {
    background: #FFFBD9;
}

.hat {
    align-items: center;
    background: #FFFBD9;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    max-width: 1134px;
    padding: 34px 20px;
}

.hamburger {
    display: none;
}

.menu {
    align-items: center;
    display: flex;
    flex-flow: nowrap;
    text-align: center;
}

.menu__block {
    display: flex;
    list-style-type: none;
}

.menu__block li {
    padding: 0 20px;
}

.menu__button {
    position: relative;
    border: 1px solid transparent;
}

.menu__button:hover {
    border-bottom: none; 
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 0 0;

}

.menu__btn { 
    border: none;
    /* background: inherit; */
    background-color: #FFFBD9;
    font: inherit;
    outline: none;
    padding: 12px 20px;
    text-align: center;
}

.menu__btn:focus {
    border: 1px solid #D6D6D6;
}

.menu__btn::after {
    content: url(./imgs/arrow.png);
    padding-left: 9px;
}

.menu__content {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 4px 4px;
    display: none;
    margin-left: -1px;
    position: absolute;
    padding-top: 20px;
    width: calc(100% + 2px);
    z-index: 1;
}

.menu__content a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 10px;
    text-align: left;
}

.menu__content a:hover {
    background: #F3F3F3; 
    border-radius: 4px; 
}

.menu__button:hover .menu__content {
    border-top: none;
    border: 1px solid #D6D6D6;
    display: block;
}

.menu__button:hover .menu__btn::after {
    content: url(./imgs/arrow-down.png);
}

.btns a {
    margin: 0 20px;
}

.btns a.btn_affect {
    margin-right: 0;
}

.search-block {
    align-items: center;
    display: flex;
}

.search {
    align-items: center;
    border-radius: 24px;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    position: relative;
    transition: all 5s;
    width: 32px;
}

.search:hover {
    box-shadow: 0 0 12px rgb(112 126 152 / 40%);
}

.search-show {
    background: #FFFBD9;
    border-radius: 24px 0 0 24px;
    border: .1px solid #B7BAB7;
    box-shadow: 0 0 12px rgb(112 126 152 / 40%);
    display: none;
    position: absolute;
    right: 100%;
    top: -1px;
}

.search:hover .search-show {
    display: block;
}

.search-forms {
    display: flex;
    align-items: center;
    height: 32px;
}

.search-form input {
    background-color: #FFFBD9;
    border: none;
    color: #373737;
    font: inherit;
    font-size: 14px;
    line-height: 19px;
    outline: none;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 32px;
    width: 300px;
}

.search-form-submit {
    cursor: pointer;
    height: 32px;
    width: 32px;
    opacity: 0;
    position: absolute;
    right: -32px;
    top: 0;
}

.search-ajax {
    align-items: center;
    background-color: #d5e8b1;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 32px;
    transition: all .5s;
    width: 32px;
}

.search:hover .search-ajax {
    background-color: #3E8E31;
    border-radius: 0 24px 24px 0;
}

.search-icon {
    align-items: center;
    color: #707e98;
    display: flex;
    transition: color .5s;
    font-size: 10px;
}

.search:hover .search-icon {
    color: white;
}

.btn {
    background: transparent;
    border: none;
    color: #3A3A3A;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px; 
    text-align: left;
}

.btn_affect {
    background: #3E8E31;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    padding: 11px 17px;
    text-align: center;
}

/* CREATE */

.create {
    background-color: #B7BAB7;
    background-image: url(./imgs/background-head.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 246px 0 84px 0;
}

.create__block {
    margin-left: 20.46%; 
}

.create__head {
    color: #FFFFFF;
    font-family: "a_AssuanNr";
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 128.3%;
    letter-spacing: .015em;
    max-width: 551px;
    margin-bottom: 30px;
}

.create__text {
    color: #FFFFFF; 
    font: inherit;
    font-size: 20px;
    line-height: 23px;
    max-width: 440px;
    margin-bottom: 43px;
}

.create__block button {
    font: inherit;
    height: 48px;
    margin-bottom: 149px;
    padding: 0;
    width: 222px;
}

.scroll {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.scroll button {
    background: transparent;
    border: .5px solid #FFFFFF;
    border-radius: 2px;
    height: 4px;
    width: 46px;
}

.scroll button:not(:last-child) {
    margin-right: 13px;
}

.slide.active {
    background: #FFFFFF;
}

/* CATEGORIES */

.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1095px;
    margin: 0 auto;
    padding: 100px 20px;
}

.categories a,
li {
    list-style-type: none;
    padding: 0 10px;
    text-align: center;
}

.medical::before {
    content: url(./imgs/medical.png);
    display: flex;
}

.sports::before {
    content: url(./imgs/sports.png);
    display: flex;
}

.animals::before {
    content: url(./imgs/animals.png);
    display: flex;
}

.business::before {
    content: url(./imgs/business.png);
    display: flex;
}

.community::before {
    content: url(./imgs/community.png);
    display: flex;
}

.family::before {
    content: url(./imgs/family.png);
    display: flex;
}

.other-categories::before {
    content: url(./imgs/other-categories.png);
    display: flex;
}


/* COMPAIGNS */

.campaigns {
    padding: 0 15px 100px;
}

.campaigns__hat {
    margin: 0 auto;
    text-align: center;
}

.head-bus {
    color: #F5B537;
    font-family: "a_AssuanNr";
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 128%;  
    text-align: center;
  
}

.campaigns__text {
    align-items: center;
    color: #000000;  
    display: flex;
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto;
    max-width: 495px;
    padding: 37px 0 18px 0;
    text-align: center;
}

.cards {
    max-width: 1095px;
    margin: 0 auto;
}

.card {
    margin: 5px;
}

.cards-all {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.cards__top {
    padding-bottom: 20px;
}

.cards__bottom {
    margin-top: 20px;
    text-align: right;
}

.cards__bottom a {
    color: #3E8E31;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.cards-more::after {
    content: "\003E";
    height: 10px;
    margin-left: 19px;
    width: 6px;
}

.card {
    background: #FFFDED;
    box-shadow: 0 1px 7px rgba(152, 152, 152, 0.35);
    padding-bottom: 9px;
    transition: all .3s;
    width: 261px;
}

.card-linck {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(1.05);
}

.photo {
    width: 100%;
}

.card_top {
    padding: 8px 9px;
}

.efect {
    font-size: 14px;
    line-height: 16px; 
}

.card_top::before {
    content: url(./imgs/ellipse.png);
    margin-right: 8px;
    vertical-align: -1px;
}

.card__block {
    padding-top: 7px;
    padding-left: 9px;
}

.card_bottom::before {
    content: url(./imgs/ellipse2.png);
    vertical-align: -1px;
    margin-right: 8px;
}

.card_text {
    font-size: 16px;
    line-height: 19px;
    padding: 8px 0 14px;
}

.card_price {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    line-height: 16px;
    position: relative;
}

.card_price p:last-child {
    color: #8374B5;
    padding-right: 8px;
}

.card__scale {
    background: #B7BAB7;
    border-radius: 2px;
    height: 4px;
    margin: 5px 0;
    width: 243px;
}

.card__scale_color {
    background: #71A270;
    border-radius: 2px;
    height: 4px;
    width: 121px;
}

.card__itog {
    font-weight: 300;
    text-align: right;
}

.card__itog span {
    font-weight: 500;
    padding: 0 9px 0 5px;
}

.scale2 {
    width: 49px;
}

.card-camp_top::before {
    content: url(./imgs/ellipse3.png);
    vertical-align: -1px;
    margin-right: 8px;
}

.card-camp_bottom::before {
    content: url(./imgs/ellipse4.png);
    vertical-align: -1px;
    margin-right: 8px;
}

.card-port_top::before {
    content: url(./imgs/ellipse.png);
    vertical-align: -1px;
    margin-right: 8px;
}

.card-port_bottom::before {
    content: url(./imgs/ellipse4.png);
    vertical-align: -1px;
    margin-right: 8px;
}

.card-help_top::before {
    content: url(./imgs/ellipse.png);
    vertical-align: -1px;
    margin-right: 8px;
}

.card-help_bottom::before {
    content: url(./imgs/ellipse5.png);
    vertical-align: -1px;
    margin-right: 8px;
}

/* EVRYTHING */

.everything {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 20px 86px;
    text-align: center;
}

.everything__all {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.everything__block {
    background-color: transparent;
    font: inherit;
    color: inherit;
    cursor: pointer;
    margin-top: 54px;
    padding: 0 10px;
    text-align: left;
    width: 336px;
}

.everything__block:hover {
    background: linear-gradient(180deg, #FFEBB9 29.28%, rgba(255, 235, 185, 0.05) 83.06%);
    border-radius: 4px 4px 0px 0px;
}

.everything__head {
    background: #FFEBB9;
    border-radius: 4px;
    font-size: 20px;
    line-height: 23px;
    padding: 9px 0 10px 39px;
}

.everything__text {
    display: -webkit-box;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
    padding: 0 36px 0 39px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.everything__block:hover  .everything__text {
    display: block;
    background: linear-gradient(180deg, #FFEBB9 29.28%, rgba(255, 235, 185, 0.05) 83.06%);
    border-radius: 4px 4px 0 0px;

}

/* US */

.us {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 20px 80px 20px;
}

.us__blog {
    margin-top: 54px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.us-me {
    background-color: #B7BAB7;
    background-image: url(./imgs/about-us.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    flex: 1 0 260px;
    min-height: 245px;
    width: 50%;
}

.us__text {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(151, 151, 151, 0.25);
    background-image: url(./imgs/ellipse6.png);
    background-repeat: no-repeat;
    background-position: 22px 7px;
    color: inherit;
    flex: 1 0 260px;
    position: relative;
    padding: 67px 59px;
    width: 50%;
}

.us__text::before {
    bottom: 20px;
    content: url(./imgs/ellipse8.png);
    position: absolute;
    right: 9px;
}

.us__text::after {
    bottom: 74px;
    content: url(./imgs/ellipse7.png);
    position: absolute;
    right: 8px;
}

.us__halps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 40px;
}

.us__element {
    padding: 20px;
    width: 328px;
}

.us__element:last-child {
    width: 349px;
}

.us__element p {
    padding-bottom: 48px;
    font-size: 24px;
    line-height: 28px;
}

.us__halps .us__element:last-child p {
    padding-bottom: 80px;
}

.us__element_block {
    display: flex;
    align-items: center;
}

.us__element_all {
    margin-right: 8px;
    position: relative;
}

.us__element_num {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    right: 9px;
    top: 9px;
    text-align: center;
}

.us__element_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.us__element_block + .us__element_block {
    margin-top: 14px;
}

/* REVIEWS */

.reviews {
    position: relative;
    padding: 0 25px 100px 25px;
    margin: 0 auto;
    width: 1134px;
    width: 88.45vw;
}

.reviews__hub {
    overflow: hidden;
    margin: 0 auto;
    width: 1082px;
    width: 80vw;
}

.reviews__elems {
    width: 9999px;
}
.reviews-inline{
    display: inline-block;
}
.reviews__el {
    display: flex;
    margin: 30px 0;
    width: 38.77vw;
}

.reviews-inline + .reviews-inline {
    margin-left: 22px;
}

.reviews__el_photo {
    background: #FFFFFF;
    border-radius: 8px;
    height: 33.88vh;
    position: relative;
    width: 13.88vw;
    z-index: 10;
}

.reviews_ellipse {
    bottom: 12px;
    height: 12.936vh;
    position: absolute;
    right: 0;
    width: 5.616vw;
    z-index: 3;
}

.reviews_ball {
    bottom: 32px;
    color: #000000;
    font: inherit;
    font-style: normal;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (36 - 24) + 24px);
    line-height: 42px;
    line-height: 6.468vh;
    position: absolute;
    right: 10px;
    right: .78vw;
    z-index: 4;
}

.reviews_img {
    border-radius: 50%;
    height: 15.4vh;
    position: absolute;
    right: 11px;
    top: 39px;
    width: 7.8vw;
    z-index: 5;
}

.reviews__el_text {
    background: #FFFFFF;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 0 5px rgb(224, 214, 214);
    position: relative;
    padding: 23px 1px 0 32px;
    margin-top: 24px;
    width: 24.88vw;
}

.reviews__el_text::before {
    background: rgba(196, 196, 196, 0.01);
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.993);
    content: "";
    height: 22px;
    left: -105px;
    position: absolute;
    transform: rotate(90deg);
    top: 75px;
    width: 185px;
}

.reviews__el_name::before {
    content: "\2014";
    color: #8374B5;
    font-size: 21px;
    padding-right: 11px;
}

.reviews__el_name {
    color: #3E8E31;
    font: inherit;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    padding-left: 11px;
}

.reviews__el_text p {
    font: inherit;
    font-weight: normal;
    font-size: 16px;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (16 - 14) + 14px);
    line-height: 19px;    
}

.rewiew__nav {
    display: flex;
    cursor: pointer;
}

.vector-left::before {
    content: url(./imgs/left.png);
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.vector-right::before {
    content: url(./imgs/right.png);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.reviews button {
    border-color: #3E8E31;
}

.reviews .active {
    background: #3E8E31;
}

/* CONTACT */

.contact {
    padding-bottom: 99px;
}

.contact__head {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding-top: 41px;
    padding-bottom: 35px;
    text-align: center;
}

.contact__block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact__info {
    background: #FEEBB9;
    border-radius: 8px 0 0 8px;
    background-image: url(./imgs/ellipse22.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    min-width: 520px;
    position: relative;
    padding: 2.56rem 0 2.375rem;
    width: 50%;
    z-index: 4;
}

.contact__info::before {
    content: url(./imgs/ellipse20.png);
    position: absolute;
    right: 10.2%;
    top: 34px;
}

.contact__info::after {
    bottom: 92px;
    content: url(./imgs/ellipse21.png);
    position: absolute;
    right: 4.2%;
}

.contact__all {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    max-width: 382px;
    margin-left: 41%;
}

.contact__all_head {
    color: #3E8E31;
    font-size: 24px;
    line-height: 28px;
}

.contact__all_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    max-width: 319px;
    margin-top: 15px;
    margin-bottom: 39px;
}

.contact__all_elem {
    position: relative;
    padding-left: 67px;
}

.contact__all_elem + .contact__all_elem {
    margin-top: 24px;
}

.contact__all_mail::before {
    content: url(./imgs/mail.png);
    left: 0;
    position: absolute;
    top: -5px;
}

.contact__all_geo::before {
    content: url(./imgs/geo.png);
    left: 0;
    position: absolute;
    top: 0;
}

.contact__web {
    display: flex;
    font-size: 0;
    flex-flow: row nowrap;
    margin-top: 106px;
    padding-left: 64px;
}

.linked::before {
    content: url(./imgs/linkedIN.png);
}

.facebook::before {
    content: url(./imgs/facebook.png);
}

.vk::before {
    content: url(./imgs/vk.png);
}

.contact__form {
    background: #FFFFFF;
    box-shadow: 0 0 7px rgba(180, 177, 170, 0.25);
    border-radius: 8px 0 0 8px;
    background-image: url(./imgs/ellipse25.png), url(./imgs/ellipse26.png), url(./imgs/ellipse27.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 5.8% 350px, 64.1% 47px, 69% 22px;
    min-width: 520px;
    position: relative;
    padding-bottom: 41px;
    width: 50%;
}

.forms__blocks form {
    font: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 41px 0 0 7.566vw;
}

.contact__form input {
    background: inherit;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #373737;
    font: inherit;
    font-weight: normal;
    font-size: 18px;
    height: 35px;
    line-height: 21px;    
    margin: 6px 0 15px;
    padding-left: 12px;
    max-width: 400px;
}

.input-block {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.contact__form label {
    order: -1;
}

.contact__form input:focus + label {
    color: #3E8E31;
}

.contact__form textarea:focus + label {
    color: #3E8E31;
}

.contact__block textarea {
    background: inherit;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #6F6F6F;
    font: inherit;
    font-weight: 300;
    font-size: 14px;
    height: 98px;
    line-height: 16px;
    margin-top: 6px;
    padding: 7px 0 0 15px;
    resize: none;
    max-width: 400px;
}

.contact__block button {
    display: block;
    width: 222px;
    margin-top: 26px;
    margin-left: 13.884vw;
}

/* FOOTER */

.down {
    background: #FFFDED;
    box-shadow: 0 0 4px rgba(205, 205, 205, 0.25);    
    padding: 58px 0 27px;
}

.down__block img {
    padding-left: 20.47%;
    padding-right: 5.5%;
}

.down__block {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.down__rup a{
    font-weight: normal;
    font-size: 16px; 
    line-height: 19px;
}
.down__rup li {
    list-style-type: none;
}

.down__rup {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 680px;
}

.down__rup ul {
    padding: 5px 15px;
}

hr {
    border: 0.7px solid #3E8E31;
    max-width: 1142px;
    margin-top: 50px;
}

.down__itog {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;      
    margin-top: 16px;
    margin-left: 20.47%; 
}

@media only screen and (min-width: 551px) and (max-width:885px) {

    .hamburger {
        display: block;
    }

    .menu, .search-block {
        display: none;
    }

    .hamburger.active +  .menu {
        background-color: #373737;
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        padding-top: 240px;
        top: 0;
        width: 100%;
    }

    .menu__block a {
        color: #FFFFFF;
    }

    .menu__block li {
        padding: 5px 0;
    }

    .menu__button button {
        color: #ffffff;
    }

    .hamburger.active ~  .search-block {
        display: block;
        position: fixed;
        right: 40px;
        top: 0;
    }

     .hat > .hamburger.active {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 1;
    }

    .search-block {
        padding-top: 100px;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }

    .btns a {
        margin: 5px 0;
    }

    .btn {
       color: #FFFFFF;
    }

    .menu__block {
        flex-direction: column;
    }

    .menu__btn { 
        background-color: #373737;
    }


    .reviews__el {
        width: 79vw;
    }

    .reviews__el_photo {
        width: 18.88vw;
    }

    .reviews_img {
        width: 15vw;
    }

    .reviews_ellipse {
        width: 8vw;
    }

    .reviews__el_text {
        width: 51.33vw;
    }

    .contact__all {
        margin: 0 auto;
    }

    .contact__info {
        min-width: 250px;
        width: 100%;
    }

    .contact__form {
        min-width: 250px;
        width: 100%;
    }


}

@media only screen and (max-width: 550px) {

    .hamburger {
        display: block;
    }

    .menu, .search-block {
        display: none;
    }

    .hamburger.active +  .menu {
        background-color: #373737;
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        padding-top: 220px;
        top: 0;
        width: 100%;
    }

    .menu__block a {
        color: #FFFFFF;
    }

    .menu__block li {
        padding: 5px 0;
    }

    .menu__button button {
        color: #ffffff;
    }

    .hamburger.active ~  .search-block {
        display: block;
        position: fixed;
        right: 10px;
        top: 0;
    }

     .hat > .hamburger.active {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 1;
    }

    .search-block {
        padding-top: 80px;
    }

    .search-form input {
        width: 120px;
    }

    .create__block {
        margin-left: 5%; 
    }
    
    .btns {
        display: flex;
        flex-direction: column;
    }

    .btns a {
        margin: 5px 0;
    }

    .btn {
       color: #FFFFFF;
    }

    .menu__block {
        flex-direction: column;
    }

    .menu__btn { 
        background-color: #373737;
    }
/*  */
    .reviews__el {
        width: 79vw;
    }

    .reviews__el_photo {
        width: 20.1vw;
    }

    .reviews_img {
        width: 15vw;
    }

    .reviews_ellipse {
        width: 10vw;
    }
    
    .reviews__el_text {
        width: 51.33vw;
    }

    .fon {
        background-position: 90% 100%;
    }

    .fon__block {
        margin: 10px;
        text-align: center;
    }

    .fon__head {
        font-size: 36px;
    }

    .fon__text {
        font-size: 18px;
    }
    
    .contact__all {
        margin-left: 20px;  
    }

    .contact__info {
        min-width: 250px;
        width: 100%;
    }

    .contact__form {
        min-width: 250px;
        width: 100%;
    }

    .contact__all_elem p {
        padding-left: 0;
    }

    .contact__all_elem {
        flex-direction: column;
        justify-content: center;
    }

    .contact__block button {
        margin: 0 auto;
        margin-top: 26px;
    }

}
